body{
    background:rgb(255, 166, 0);
    height:100vh;
    display:flex;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    margin-top:80px;
}
h1{
    text-align: center;
    color:white;
    font-size:50px;
    margin-bottom: 60px;
}
.wrapper{
    width:500px;

}
.input-container{
    display:flex;
    justify-content: center;
    height:45px;
}
input, button{
    border:none;
    outline:none;
}
.input-container input{
    padding:18px 15px;
    font-size: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width:320px;

}
.input-container button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor:pointer;
    padding:16px 25px;
    font-size: 16px;
    color:rgb(255, 87, 98);
    background-color: white;
    border-left: 2px solid whitesmoke
}
.input-container button:hover{
    color:white;
    background-color: rgb(255, 87, 98);
}
.todo-container{
    padding:0;
}
.todo-container .todo{
    margin: 0 auto;
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: white;
    border-radius: 5px;
}
.todo-container .todo-completed{
    width:90%;
    text-decoration: line-through;
    color:rgb(125, 125, 125);
    opacity: 0.7;
}
.todo-container button{
    padding:16px;
    flex:1;
    margin:0;

} 
.todo-container .todo-check{
    color: rgb(5, 207, 91);
    background: white;
    border-left: 2px solid white;
    font-size: 16px;
}
.todo-container .todo-check:hover{
    color: white;
    background: rgb(5, 207, 91);
    cursor:pointer;
}
.todo-container .todo-delete{
    color:rgb(255, 87, 98);
    background-color: white;
    font-size: 16px;
    border-left:2px solid whitesmoke;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.todo-container .todo-delete:hover{
    color:white;
    background-color: rgb(255, 87, 98);
    cursor:pointer;

}
.todo-container .todo li{
    flex: 10;
    padding:16px;
    list-style-type: none;
    margin:0;
    line-height: 1.5;
}